<style>
    .landing-container {
        background-color: white;
    }
    .landing-button {
        color: var(--catalyst-blue);
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        border: 1px solid var(--catalyst-blue);
        margin: 10px;
    }

    .left-side-landing {
        background-color: #1a568C;
        text-align: center;
        justify-content: center;
        color: white;
        font-size: 1.5em;
    }

    .left-side-landing h5 {

    }

    .right-side-landing {
        text-align: left;
        color: var(--catalyst-blue);
        font-size: 1.5em;
    }
</style>
<div class="landing-container">
    <h1>Welcome to <i>NHLBI</i> BioData Catalyst</h1>
    <h1><b>Open PIC-SURE</b></h1>
    <p>NHLBI BioData Catalyst® Powered by PIC-SURE can be used to explore studies, conduct, feasibility tests, create cohorts, and select data at the variable and variant level.</p>
    <div class="row">
        <div class="col-md-6 left-side-landing">
            <div class="row">
                <h2 id="available-studies" class=""></h2>
                <div id="available-studies-spinner"></div>
                <h3>Available Studies</h3>
            </div>
            <div class="row">
                <h2 id="open-participants" class=""></h2>
                <div id="open-participants-spinner"></div>
                <h3>Total Participants</h3>
            </div>
            <div class="row">
                <h2 id="open-variables" class=""></h2>
                <div id="open-variables-spinner"></div>
                <h3>Total Variables</h3>
            </div>
        </div>
        <div class="col-md-6 right-side-landing">
            <div class="row landing-button">
                <b>Data Dashboard</b>
            </div>
            <div class="row landing-button">
                <b>PIC-SURE Open Access</b>
            </div>
            <div class="row landing-button">
                BioData Catalyst ecosystem
            </div>
            <a href="https://picsure.biodatacatalyst.nhlbi.nih.gov/picsureui/" target="_blank">
            <div class="row landing-button">
                <b>Log In</b> to Access Participant-Level Data with PIC-SURE Authorized Access
            </div>
            </a>
        </div>
    </div>
</div>