<div class="container">
    <div class="row">
        <div class="col-md-6" style="color: #1a568C">
            <div class="row">
            <!-- TODO: Display Available studies-->
            </div>
            <div class="row">
            <!-- TODO: Display Total Participants-->
            </div>
            <div class="row">
            <!-- TODO: Display Total Variables -->
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                Data Access Dashboard
            </div>
            <div class="row">
                PIC-SURE Open Access
            </div>
            <div class="row">
                BioData Catalyst ecosystem
            </div>
            <div class="row">
                Log In to Access Participant-Level Data with PIC-SURE Authorized Access
            </div>
        </div>
    </div>
</div>