<style>
    #main-content {
        margin-top: unset;
        padding-top: unset;
    }

    .landing-container {
        width: 80%;
        margin: 2% auto 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 75%;
    }

    .landing-nav-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 80%;
    }

    .landing-anchor {
        color: var(--catalyst-blue);
        background-color: transparent;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .landing-anchor i {
        font-size: 5rem;
        padding-bottom: .3em;
        margin: 0 auto;
        text-decoration: none;
    }

    /* Grow landing anchor on hover */
    .landing-anchor:hover {
        transform: scale(1.1);
        transition: transform .2s;
    }

    .landing-counts {
        background: var(--catalyst-blue);
        color: white;
        border-radius: 8px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 1em;
        width: 80%;
    }

    .landing-count {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2.5rem;
        font-weight: 100;
    }

    .search-container {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
    }

    .search-container button {
        margin-left: 1rem;
        padding: .625rem 2.5rem;
        border-radius: .625em;
    }

    #landingSearch {
        flex-grow: 1;
        padding: 1rem;
    }
</style>
<div class="landing-container">
    <div>
        <div class="search-container">
            <input type="text" placeholder="Search..." class="form-control" style="padding: 10px; width: 100%;"
                   id="landingSearchInput"/>
            <button class="btn btn-primary" id="landingSearchButton">Search</button>
        </div>
        <div>
            <p><i>NHLBI BioData Catalyst® Powered by PIC-SURE</i> can be used to explore studies, conduct feasibility
                tests,
                create
                cohorts, and select data at the variable-value level.</p>
        </div>
    </div>
    <div class="landing-nav-buttons">
        <a class="landing-anchor" href="/picsureui/openAccess#" tabindex="0">
            <div>
                <i class="fa-solid fa-magnifying-glass"></i>
                <p>Search Variables,<br/>Build Cohorts, and<br/>Retrieve Aggregate,<br/>Counts in <b>Explorer</b></p>
            </div>
        </a>
        <a class="landing-anchor" href="/picsureui/dataAccess" tabindex="0">
            <div>
                <i class="fa-solid fa-table-list"></i>
                <p>Browse Available<br/>Studies in<br/><b>Data Dashboard</b></p>
            </div>
        </a>
        <a class="landing-anchor" href="https://biodatacatalyst.nhlbi.nih.gov/" target="_blank" tabindex="0">
            <div>
                <i class="fa-solid fa-graduation-cap"></i>
                <p>Learn<br/> About the <br/><b>BDC Ecosystem</b></p>
            </div>
        </a>
        <a href="https://picsure.biodatacatalyst.nhlbi.nih.gov/picsureui/" target="_blank" class="landing-anchor"
           tabindex="0">
            <div style="justify-content: center">
                <i class="fa-solid fa-user-large"></i>
                <p><b>Log In</b> to Access<br/> Participant-Level<br/> Data</p>
            </div>
        </a>
    </div>
    <div class="landing-counts">
        <div class="landing-count">
            <div id="available-studies"></div>
            <div id="available-studies-spinner">0</div>
            <p>Available Studies</p>
        </div>
        <div class="landing-count">
            <div id="open-participants"></div>
            <div id="open-participants-spinner">0</div>
            <p>Total Participants</p>
        </div>
        <div class="landing-count">
            <div id="open-variables"></div>
            <div id="open-variables-spinner">0</div>
            <p>Total Variables</p>
        </div>
    </div>
</div>