<style>
    #main-content {
        margin-top: 0;
        border-top: 1px solid #c0c0c0;
        background-color: white;
    }

    .landing-button {
        color: var(--catalyst-blue);
        border-radius: 5px;
        text-align: center;
        font-size: 20px;
        border: 1px solid var(--catalyst-blue);
        display: flex;
        margin-bottom: 1em;
        justify-content: space-between;
    }

    .landing-button > div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .landing-button i.fa-greater-than {
        align-self: center;
    }

    .landing-container {
        width: 80%;
        margin: 5% auto 0 auto;
    }

    .left-side-landing {
        display: flex;
        flex-direction: column;
        background-color: #1a568C;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 2em;
        border: 1px solid #1a568C;
        border-radius: 5px;
        height: 60%;
        margin-right: 5%;

        @media (max-width: 990px) {
            height: 350px;
            margin-right: unset;
        }

    }

    .right-side-landing {
        color: var(--catalyst-blue);
        height: 50%;
        padding-left: unset;
        padding-right: unset;

        @media (max-width: 990px) {
            margin-top: 5%;
        }
    }
</style>
<div style="margin-left: 5%">
    <h1>Welcome to <i>NHLBI</i> BioData Catalyst</h1>
    <h1><b>Open PIC-SURE</b></h1>
    <p>NHLBI BioData Catalyst® Powered by PIC-SURE can be used to explore studies, conduct, feasibility tests, create
        cohorts, and select data at the variable and variant level.</p>
</div>
<div class="landing-container">
    <div class="row">
        <div class="col-md-4 left-side-landing">
            <div class="row">
                <h2 id="available-studies"></h2>
                <div id="available-studies-spinner"></div>
                <h3>Available Studies</h3>
            </div>
            <div class="row">
                <h2 id="open-participants"></h2>
                <div id="open-participants-spinner"></div>
                <h3>Total Participants</h3>
            </div>
            <div class="row">
                <h2 id="open-variables"></h2>
                <div id="open-variables-spinner"></div>
                <h3>Total Variables</h3>
            </div>
        </div>
        <div class="col-md-6 right-side-landing">
            <div class="landing-button">
                <div><p>Browse Available Studies in</p><b>Data Dashboard</b></div>
                <i class="fa-light fa-greater-than"></i>
            </div>
            <div class="landing-button">
                <div>
                    <p></p>
                    <b>BioData Catalyst ecosystem</b>
                </div>
                <i class="fa-light fa-greater-than"></i>
            </div>
            <div class="landing-button">
                <div>
                    <p></p>
                    <b>BioData Catalyst ecosystem</b>
                </div>
                <i class="fa-light fa-greater-than"></i>
            </div>
            <a href="https://picsure.biodatacatalyst.nhlbi.nih.gov/picsureui/" target="_blank">
                <div class="landing-button">
                    <div><p>to Access Participant-Level Data with PIC-SURE Authorized Access</p><b>Log In</b></div>
                    <i class="fa-light fa-greater-than"></i>
                </div>
            </a>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>