<style>
    .landing-button {
        color: var(--catalyst-blue);
        border-radius: 5px;
        text-align: left;
        font-size: 1.25em;
        border: 2px solid var(--catalyst-blue);
        display: flex;
        margin-bottom: 1em;
        justify-content: space-between;
        padding: .625em;
        background-color: #f4f4f6;
    }

    .landing-button > div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .landing-button i.fa-greater-than, i.fa-arrow-up-right-from-square {
        align-self: center;
        font-size: 2em;
        padding-right: 1em;
    }

    .landing-button i.fa-arrow-up-right-from-square {
        font-size: 1.5em;
    }

    .landing-container {
        width: 80%;
        margin: 2% auto 0 auto;
    }

    .left-side-landing .row {
        margin-bottom: 1.5em;
    }

    .left-side-landing {
        display: flex;
        flex-direction: column;
        background-color: #1a568C;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 1.5em;
        font-weight: lighter;
        border: 1px solid #1a568C;
        border-radius: .6em;
        height: 50%;
        margin-right: 5%;
        padding-top: 1em;

        @media (max-width: 990px) {
            height: 650px;
            margin-right: unset;
            font-size: 2em;
        }

    }

    .right-side-landing {
        color: var(--catalyst-blue);
        height: 50%;
        padding-left: unset;
        padding-right: unset;

        @media (max-width: 990px) {
            margin-top: 5%;
        }

    }

    .landing-value {
        font-size: 2em;
    }

    #main-content {
        margin-top: unset;
    }

    .right-side-landing a {

    }
</style>
<div>
    <div style="margin-left: 5%; margin-right: 5%; font-size: 1.5em">
        <h1>Welcome to <i>NHLBI</i> BioData Catalyst</h1>
        <h1><b>Open PIC-SURE</b></h1>
        <p><i>NHLBI BioData Catalyst® Powered by PIC-SURE</i> can be used to explore studies, conduct, feasibility tests,
            create
            cohorts, and select data at the variable and variant level.</p>
    </div>
    <div class="landing-container">
        <div class="row">
            <div class="col-md-4 left-side-landing">
                <div class="row">
                    <div class="landing-value" id="available-studies"></div>
                    <div id="available-studies-spinner"></div>
                    <p>Available Studies</p>
                </div>
                <div class="row">
                    <div class="landing-value" id="open-participants"></div>
                    <div id="open-participants-spinner"></div>
                    <p>Total Participants</p>
                </div>
                <div class="row">
                    <div class="landing-value" id="open-variables"></div>
                    <div id="open-variables-spinner"></div>
                    <p>Total Variables</p>
                </div>
            </div>
            <div class="col-md-6 right-side-landing">
                <div class="landing-button">
                    <div>
                        <p>Browse Available Studies in</p>
                        <b>Data Dashboard</b>
                    </div>
                    <i class="fa-light fa-greater-than"></i>
                </div>
                <div class="landing-button">
                    <div>
                        <p>Search Variables and Build Queries in</p>
                        <b>Open PIC-SURE Explorer</b>
                    </div>
                    <i class="fa-light fa-greater-than"></i>
                </div>
                <a href="https://biodatacatalyst.nhlbi.nih.gov/">
                <div class="landing-button">
                    <div>
                        <p>Browser Available Studies in</p>
                        <b>BioData Catalyst ecosystem</b>
                    </div>
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </div>
                </a>
                <a href="https://picsure.biodatacatalyst.nhlbi.nih.gov/picsureui/" target="_blank">
                <div class="landing-button">
                    <div>
                        <p><b>Log In</b> to Access Participant-Level Data with<br />PIC-SURE Authorized Access</p>
                    </div>
                    <i class="fa-light fa-greater-than"></i>
                </div>
                </a>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>