<div style="margin-left: 1em" id="not_authorized_message">
    <h2>Something went wrong</h2>
    <p>Please try refreshing the page or using Open PIC-SURE again later. If the issue still persists, please contact the support team using the
        <a href="https://hms-dbmi.atlassian.net/servicedesk/customer/portal/14/group/27" target="_blank">Help Desk</a></p>
</div>