<div style="margin-left: 1em" id="not_authorized_message">
    <h2>Something went wrong</h2>
    <p>Please try using Open PIC-SURE again later. If the issue still persists, please contact the support team using
        the Help Desk.</p>
    <p>The words “please contact the support team using the Help Desk” should be hyperlinked with this URL:
        <a href="https://hms-dbmi.atlassian.net/servicedesk/customer/portal/14/group/27" target="_blank">BDC-PIC-SURE
            Service Desk</a></p>
</div>